<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Homey - A SMS Platform for the Homeless</title>
    <meta name="author" content="Kelvin Liu">
    <meta name="description" content="landing page for thekelvinliu.com">
    <!-- MOBILE-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <link rel="stylesheet" type="text/css" href="css/homey.css">
    <!--JS-->
    <!--FAV-->
    <link rel="icon" type="image/png" href="img/favicon.png?v=2" />
    <title>Homey</title>
  </head>
  <body>
    <div class="row" id="title">Homey</div>
    <div class="row" id="about">
      <p>
        An outstanding number of homeless people have cellphones.
        But they don't have shelter.
        Inspired by the <a href="//nyc.gov/dhs">NYC Department of Homeless Services</a>,
        Homey is an SMS (and Yo) platform that aims to provide its users with location-based shelter information.
      </p>
    </div>
    <div id="info">
      <div class="row">
        <div class="five columns bold"><p>TEXT</p></div>
        <div class="seven columns"><p>SHELTER to <br><a href="tel:+16515041642">+1 (651) 504-1642</a></p></div>
      </div>
      <div class="row">
        <div class="five columns bold"><p>Yo</p></div>
        <div class="seven columns"><p>HOMEY</p></div>
      </div>
    </div>
    <p>...because those without homes deserve a <span class="bold">homey</span>.</p>
  </body>
</html>
