<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>#Pointers - Responder Platform</title>
    <meta name="description" content="responder platform page for #Pointers">
    <!-- MOBILE-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <!--JS-->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" defer></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" defer></script>
    <!--FAV-->
    <link rel="icon" type="image/png" href="img/favicon.png" />
  </head>
  <body>
    <div class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
      <div class="navbar-header">
        <nav id="bs-navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="/" class="navbar-brand"><img src="img/home.png" alt="home icon">#Pointers</a>
            </li>
            <li>
              <a href="#INSERT LINK HERE">Mission</a>
            </li>
            <li>
              <a href="#INSERT LINK HERE">Statistics</a>
            </li>
            <li>
              <a href="#INSERT LINK HERE">Find Shelter</a>
            </li>
            <li>
              <a href="#INSERT LINK HERE">Find Food</a>
            </li>
            <li>
              <a href="#INSERT LINK HERE">Volunteer</a>
            </li>
            <li>
              <a href="#INSERT LINK HERE">About Us</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="container">
      <div></div>
    </div>
  </body>
</header>
  <body>
    <div class='row chatbox-msg-shown'>
      <div class="col-xs-8">
        <p>Someone is in need of <%= service %> near <%= body %></p>
      </div>
    </div>
    <div class='row'>
      <div class="col-xs-8 col-xs-offset-3">
        <div class='col-xs-7'>
          <input type='text' class='form-control' placeholder='Enter message here' contenteditable="true" size='970px' required>
        </div>
        <div class='col-xs-5'>
          <button class='btn btn-primary'type='submit'><i class="fa fa-paper-plane"> Submit</i></button>
        </div>
      </div>
    </div>
  </body>
</html>
